    <header>
        <a href="/" class="title">
            <img src="/images/logo-b.png" alt="Sound City Instrumentos Músicales">
            <h1>Sound City Instrumentos</h1>
        </a>

        <form class="busquedas" role="search">
            <input type="search" placeholder="Buscar productos, marcas..." aria-label="Buscar productos, marcas..."/>
            <button type="submit"><img src="/images/search-b.png" alt="Buscar"></button> 
        </form>

        <div class="user-tools">
            <a class="login" href="/users/login">
                <img src="/images/user-w.png" alt="Inicio de sesion" >
                
            </a>
            <a class="cart position-relative" href="/products/product-cart">
                <img src="/images/cart-w.png" alt="Carrito de compras" >
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">1</span>
            </a>
        </div>
    </header>