# Variables de Entorno para los contenedores Docker

# Configuración para el contenedor Docker de MySQL
MYSQL_DATABASE=soundcity_db
MYSQL_USER=demo_user
MYSQL_PASSWORD=demo_password_123
MYSQL_ROOT_PASSWORD=demo_root_123

# Configuración para el contenedor Docker de Node
DB_HOST=db
DB_USER=demo_user
DB_PASSWORD=demo_password_123
DB_NAME=soundcity_db
