h2 {
    text-align: center;
}

.mis-compras {
    background-color: #d6cece;
    border: none;
    border-radius: 8px;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
}

.mis-datos {
    background-color: #d6cece;
    border: none;
    border-radius: 8px;
    width: 60%;
    margin: 1rem auto;
    padding: 1rem;
}

#edit-btn {
    float: right;
    color: var(--color1);
    text-decoration: none;
}