form {
    width: 40%;
    margin: 2rem auto;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

form #submit {
    color: var(--color6);
    background-color: rgb(27, 150, 27);
    height: 4rem;
    width: 100%;
    border: none;
    border-radius: 10px;
    transition: all .4s ease;
}

form #submit:hover {
    background-color: rgb(62, 177, 62);
}

form #delete {
    margin-top: 2rem;
    color: var(--color6);
    background-color: rgb(131, 34, 34);
    height: 2.5rem;
    width: 100%;
    border: none;
    border-radius: 10px;
    transition: all .4s ease;
}

form #delete:hover {
    background-color: var(--color4);
    color: var(--color1);
}

form #submit, .form-floating {
    margin-top: 1rem;
}

@media (max-width: 700px) {
    form {
        width: 90%;
    }

    form #submit {
        height: 3rem;
    }

    form #delete {
        height: 1.8rem;
    }
}