.adm {
    width: 50%;
    margin: auto; 
}

h2 {
    margin: 3rem auto;
    font-size: 2rem;
    text-align: center;
}

h3 {
    text-align: left;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--color5);
}

.adm button {
    background-color: var(--color6);
    height: 4rem;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    transition: all .4s ease;
}

.adm button:hover {
    background-color: var(--color3);
}

@media (max-width: 700px) {
    h2, h3 {
        text-align: center;
        justify-self: center;
    }

    body {
        width: 80%;
    }
}
