main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.product-img { 
    grid-area: product-img; 
    width: 50%;
    padding-left: 1rem; 
}

.product-name { grid-area: product-name; }

.product-delete { 
    grid-area: product-delete;
    cursor: pointer; 
}

.product-quantity { grid-area: product-quantity; }

.product-price { grid-area: product-price; }

.product-detail{
    border: var(--color4) 1px solid;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 40%;
    display: grid;
    justify-self: center;
    justify-items: start;
    align-items: center;
    grid-template-rows: 50px 50px;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.2fr 0.2fr;
    column-gap: 0;
    grid-template-areas: 
    "product-img product-name product-name product-name product-delete"
    "product-img product-quantity . product-price product-price";
}

button {
    border: none;
    border-radius: 5px;
}

.payment {
    display: block;
    background-color: #e7e1dc;
    border: 1px solid var(--color4);
    text-align: center;
    padding: 1rem 2rem;
    margin-top: 10px;
    width: 50%;
}

.payment button{
    background-color: rgb(131, 190, 131);
    width: 100%;
    height: 50px;
}

.payment button:hover{
    background-color: rgb(52, 112, 52);
    color: var(--color6);
}

@media (max-width: 1050px) {
    .product-detail{
        display: block;
        width: 90%;
    }

    .product-delete {
        float: right;
        margin-right: 1rem;
    }

    .payment {
        width: 90%;
    }
}