main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.product-detail{
    padding: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-rows: 0.6fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    column-gap: 0;
    grid-template-areas: 
    "product-img product-name product-name"
    "product-img product-brand product-brand"
    "product-img product-price product-price"
    "product-img product-quantity add-cart";
}

.product-img { 
    grid-area: product-img; 
    width: 90%;
    justify-self: center;
    align-self: center;
}

.product-img img{
    display: block;
    width: 400px;
    height: auto;
}

.product-name { grid-area: product-name; }
.product-brand { grid-area: product-brand; }

.product-delete { 
    grid-area: product-delete;
    cursor: pointer; 
}
.product-quantity { 
    grid-area: product-quantity;
    display: flex;
    flex-direction: row;
}

.product-quantity button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
}

.product-quantity button:hover {
    background-color: #928e8e;
}

.product-quantity input {
    width: 50px;
    height: 50px;
}

.product-price { grid-area: product-price; }

#price {
    font-size: 2rem;
}

.add-cart {
    grid-area: add-cart;
    background-color: rgb(131, 190, 131);
    width: 90%;
    align-self: center;
    height: 4rem;
    border: none;
    border-radius: 5px;
    transform: width .5s ease;
}

.add-cart:hover {
    background-color: rgb(52, 112, 52);
    color: var(--color6);
}

.product-spec {
    font-size: 16px;
    display: block;
    width: 80%;
    margin: 1rem 4rem;
}

@media (max-width: 1180px) {
    .product-detail {
        display: inline-block;
        width: 90%;
        text-align: center;
    }

    .product-detail * {
        margin: 0 auto;
    }

    #price {
        font-size: 1.5rem;
    }

    .product-quantity {
        margin: 2rem auto;
    }

    .product-quantity button {
        height: 50px;
        width: 50px;
        font-size: 30px;
        margin: auto 10px;
    }
    
    .add-cart {
        width: 80%;
        height: 3rem;
        margin: 1rem auto;
    }

}