h2 {
    margin-top: 1.5rem;
    text-align: center;
}

.edit-user {
    width: 40%;
    margin: 2rem auto;
    padding: 2rem;
    border: 0.4px solid var(--color1);
}

.edit-user #submit {
    color: var(--color6);
    background-color: var(--color1);
    height: 4rem;
    width: 100%;
    border: none;
    border-radius: 10px;
    transition: all .4s ease;
}

.edit-user #submit:hover {
    background-color: var(--color4);
    color: var(--color1);
}

.edit-user button, .form-floating {
    margin-top: 1rem;
}

.edit-user input[type="file"]{
    margin-top: 1rem;
}