main {
    padding: 1.6rem 2rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: none;
}

.breadcrumb li a{
    text-decoration: none;
    color: var(--color5);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    max-width: 100%;
}

.card {
    min-width: 18rem;
    max-width: 18rem;
    margin: 1rem;    
}

.card img {
    display: block;
    width: 260px;       
    height: 260px;
    object-fit: contain;
    max-height: 286px;   
}

.card h5 {
    height: 80px;
}

.card button {
    background-color: var(--color2);
    height: 38px;
    width: 100%;
    border: none;
    border-radius: 10px;
    transition: all .8s ease;
}

.card button:hover {
    background-color: var(--color1);
}

.card a {
    text-decoration: none;
    color: var(--color6);
}

.price {
    color: var(--color5);
}

.card-body button {
    height: 3rem;
}

.add-product {
    display: inline-block;
    margin: 0 auto;
    padding: 0;

}

.add-product #submit {
    color: var(--color6);
    background-color: var(--color1);
    height: 2rem;
    width: 120%;
    padding: auto;
    border: none;
    border-radius: 10px;
    transition: all .4s ease;
}

.add-product #submit:hover {
    background-color: var(--color4);
    color: var(--color1);
}

@media (max-width: 869px) {
    .breadcrumb {
        display: none;
    }

    .container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    } 

    .cart img {
        width: 30px;
        height: 30px;
    }
}