.login {
    width: 40%;
    margin: 2rem auto;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.login div {
    margin-bottom: 1rem;
}

.login button {
    color: var(--color6);
    background-color: var(--color1);
    height: 38px;
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    border-radius: 10px;
    transition: all .4s ease;
}

.login button:hover {
    background-color: var(--color4);
    color: var(--color1);
}

.login p {
    font-size: 0.8rem;
}

@media (max-width: 728px) {
    .login {
        width: 80%;
    }
}