
.register {
    width: 40%;
    margin: 1rem auto;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.register #submit {
    color: var(--color6);
    background-color: var(--color1);
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 10px;
    transition: all .4s ease;
}

.register #submit:hover {
    background-color: var(--color4);
    color: var(--color1);
}

.register p, div {
    margin-top: 1rem;
}

#show-hide{
    color: #575555;
    float: right;
}

@media (max-width: 920px) {
    .register {
        width: 80%;
    }
}