<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/adm-read.css"> 
</head>
<body>
    <%- include('../../partials/header') %>

    <%- include('../../partials/nav') %>

    <main>
        <h2>Lista de Usuarios</h2>
        <p>Solo Administradores</p>
        <table>
            <tr>
                <th>Usuario</th>
                <th>Correo Electrónico</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
            </tr>
            <tr>
                <td><a href="/admin/update-users">HomeroJay</a></td>
                <td>hdehomero@gmail.com</td>
                <td>Homero J.</td>
                <td>Simpson</td>
                <td>0123 34567</td>
            </tr>
            <tr>
                <td><a href="/admin/update-users">HomeroJay</a></td>
                <td>hdehomero@gmail.com</td>
                <td>Homero J.</td>
                <td>Simpson</td>
                <td>0123 34567</td>
            </tr>
            <tr>
                <td><a href="/admin/update-users">HomeroJay</a></td>
                <td>hdehomero@gmail.com</td>
                <td>Homero J.</td>
                <td>Simpson</td>
                <td>0123 34567</td>
            </tr>
        </table>
    </main>

    <%- include('../../partials/footer') %>
</body>
</html>