<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <%- include('../partials/header') %>

    <form class="register"> 
        <h2>Recuperar Contrase침a</h2> 

        <p>Ingresa tu correo electr칩nico y te enviaremos un enlace para restablecer tu contrase침a.</p>
        <div class="form-floating"> 
            <input type="email" class="form-control" id="email" placeholder="name@example.com"> 
            <label for="email">Correo Electr칩nico</label> 
        </div>
        <br>
        <button id="submit" type="submit">Enviar enlace</button> 
    </form>
    
    <%- include('../partials/footer') %>
    <script src="/javascripts/register.js"></script>
</body>
</html>