<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/adm-create-update.css">
</head>
<body>
    <%- include('../../partials/header') %>

    <%- include('../../partials/nav') %>
    
    <form> 
        <h2>Modificar Producto</h2>

        <input type="file" name="product-img" id="product-img"> 

        <div class="form-floating"> 
            <input type="text" class="form-control" id="title" placeholder="Título" > 
            <label for="title">Título</label> 
        </div>

        <div class="form-floating"> 
            <input type="number" class="form-control" id="price" placeholder="$ 00,00"> 
            <label for="price">$ 00,00</label> 
        </div>

        <div class="form-floating"> 
            <input type="text" class="form-control" id="description" placeholder="Descripción" > 
            <label for="description">Descripción</label> 
        </div>

        <button id="submit" type="submit">Guardar</button> 
        <button id="delete" type="submit">Eliminar</button> 
    </form>

    <%- include('../../partials/footer') %>
</body>
</html>