:root{
    --color1: #E64229;
    --color2: #E68329;
    --color3: #E6632A;
    --color4: #312F2F;
    --color5: #050414;
    --color6: #FAF0F0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.login {
    width: 40%;
    margin: 2rem auto;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.login div {
    margin-bottom: 1rem;
}

.login button {
    color: var(--color6);
    background-color: var(--color1);
    height: 38px;
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    border-radius: 10px;
    transition: all .4s ease;
}

.login button:hover {
    background-color: var(--color4);
    color: var(--color1);
}

.login p {
    font-size: 0.8rem;
}

@media (max-width: 728px) {
    .login {
        width: 80%;
    }
}