<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/cart.css">
</head>
<body>
    <%- include('../partials/header') %>

    <%- include('../partials/nav') %>

    <main>
        <h2>Carrito de Compras</h2>
        <div class="product-detail">

            <img class="product-img" src="/images/placeholder_view_vector.svg" width="140px" height="140px" alt="Imagen del producto">
            
            <p class="product-name">Arturia MiniLab 3 Controlador MIDI 25 Teclas</p>

            <img class="product-delete" src="/images/trash.svg" width="20px" height="20px" alt="Eliminar">

            <div class="product-quantity">
                <button style="width: 20px;">-</button>
                <input type="number" name="quantity" id="quantity" style="width: 40px;">
                <button style="width: 20px;">+</button>
            </div>

            <p class="product-price">$ 1.000.000</p>

        </div>

        <div class="product-detail">

            <img class="product-img" src="/images/placeholder_view_vector.svg" width="140px" height="140px" alt="Imagen del producto">
            
            <p class="product-name">Arturia MiniLab 3 Controlador MIDI 25 Teclas</p>

            <button class="product-delete"><img src="/images/trash.svg" width="20px" height="20px" alt="Eliminar"></button>

            <div class="product-quantity">
                <button style="width: 20px;">-</button>
                <input type="number" name="quantity" id="quantity" style="width: 40px;">
                <button style="width: 20px;">+</button>
            </div>

            <p class="product-price">$ 1.000.000</p>

        </div>

        <div class="payment">
            <p><b>TOTAL</b></p>
            <p>$ 2.000.000</p>
            <button>Pagar</button>
        </div>

    </main>

    <%- include('../partials/footer') %>
</body>
</html>